.profile-pic {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 20px;
    border: 2px solid #000;
}
.section-title {
    line-height: 15px;
    font-weight: 700;
    font-size: 14px;
    margin-top: 20px;
    font-family: "Josefin Sans", sans-serif;
}
.profile-section{
    background-color: #bebebe;
    border-top: 2px solid #000;
    border-right: 2px solid #000;
    border-left: 2px solid #000;
    border-top: 2px solid #000;
    border-bottom: 0px;
    padding-top: 15px;
    margin-top: 5px;
}
.main-content,
.lista {
    font-family: "Raleway", sans-serif;
}
.Nome {
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 5px;
}
.Func {
    font-size: 1.2rem;
    color: rgb(0, 0, 0);
}

body{
    background-color: rgb(104, 109, 109)89C9B;
    padding-left: 25%;
    padding-right: 25%;
    }

.text{
    background-color: rgb(213, 216, 218);
    border-bottom: 2px solid #000;
    border-left: 2px solid #000;
    border-right: 2px solid #000;
    margin-top: 0px;
}

.subtitulo{
    font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
}
.infos{
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 11px;
    line-height: 18px;
    flex-grow: 1;
    padding-left: 5px;
}

.contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

li,
p {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 11px;
    line-height: 18px;
}